@import "styleguide";

$red: #e0222c;
$grey: #dadada;
$headerHeight: 120px;

@mixin hide-text {
    text-indent: -9999px;
    overflow: hidden;
}

body {
    background: black;
}

h1, h2, h3, h4 {
    margin: 0;
}

.header {
    height: $headerHeight;
    background: white;

    .header__logo {
        width: 310px;
        height: $headerHeight;
        float: left;
        background: url(/dist/img/header-logo.png);
        @include hide-text;
    }

    .header__image {
        width: 310px;
        height: $headerHeight;
        float: right;
        clear: none;
        background: url(/dist/img/header-image.png);
        @include hide-text;
    }
}

#affordability-app {
    padding: 20px 40px;

    main {
        padding: 30px 38px;
        margin: 20px auto;
        max-width: 500px;
        min-height: 312px;
        background: rgba(0, 0, 0, 0.8);

        h1, h2, h3, label {
            color: white;
        }
    }

    form {
        label {
            display: block;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }

    .slide__title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 50px;
    }

    .graph-wrapper {
        position: relative;
        overflow: hidden;

        .graph-wrapper__labels {
            position: absolute;
            bottom: 45px;
            left: 45px;
            height: 100%;
            overflow: hidden;
        }

        .graph-wrapper__marker {
            position: absolute;
            top: 50px;
            height: 100%;
            border-left: 1px dotted #999;
            padding-left: 5px;

            &.offset {
                padding-top: 20px;
            }
        }

        .rd3-areachart-area {
            transform: translate(1px, 0);
        }
    }

    .slide-background {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        background-size: cover;

        &.start {
            background: url(/dist/img/bg1.jpg) center center no-repeat;
        }

        &.house-prices {
            background: url(/dist/img/bg2.jpg) center center no-repeat;
        }

        &.milk {
            background: url(/dist/img/bg3.jpg) center center no-repeat;
        }

        &.transition-leave {
          opacity: 1;
        }

        &.transition-leave.transition-leave-active {
          opacity: 0.01;
          transition: opacity 300ms ease-in-out;
        }

    }

    .slide-progress {
        list-style: none;
        margin: 10px auto;
        text-align: center;

        .slide-progress__dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin-right: 5px;
            background: $grey;
            transition: background 300ms ease-in-out;

            &.active {
                background: $red;
            }
        }
    }
}
