.button--social {
    margin-bottom: 10px;
    float: left;

    &,
    &:hover,
    &:active,
    &:visited {
        color: white;
        text-decoration: none;
    }
}

.button--facebook {
    background: $facebookBlue;
}

.button--twitter {
    background: $twitterBlue;
}
