body {
    background: black;
}

h1, h2, h3, h4, label {
    color: white;
    margin: 0;
}

p, blockquote {
    color: white;
}

a, a:visited {
    color: $blue;
    text-decoration: underline;
}

a:hover, a:active, a:focus {
    color: lighten($blue, 10%);
}

#affordability-app {
    font-family: $fontFamily;

    @include tablet {
        padding: 20px;
    }

    .message {
        color: white;
    }
}
