$graphTextColor: #fff;
$graphLineColor: #666;

.graph-wrapper {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;

    .graph-wrapper__labels {
        position: absolute;
        bottom: 50px;
        left: 60px;
        height: 100%;
        overflow: hidden;
    }

    .graph-wrapper__marker {
        position: absolute;
        top: 55px;
        height: 100%;
        border-left: 1px dotted $graphLineColor;
        padding-left: 5px;
        color: $graphTextColor;
        font-size: 15px;
        line-height: 16px;

        &.offset {
            padding-top: 20px;
        }
    }

    .rd3-areachart-area {
        transform: translate(1px, 0);
    }

    .rd3-areachart-xaxis,
    .rd3-areachart-yaxis {
        .domain {
            stroke: $graphLineColor;
        }

        .tick {
            line {
                stroke: $graphLineColor !important;
            }

            text {
                fill: $graphTextColor !important;
                font-size: 12px;
            }
        }

        text {
            fill: $graphTextColor;
            font-size: 15px;
        }
    }
}
