.slide-wrapper {
    .slide:first-child {
        margin-bottom: 0;
    }

    .slide:last-child {
        margin-top: 0;
        padding-top: 0;
    }

    @include desktop {
        @include clearfix;
        margin: 0 auto;
        width: 1040px;

        .slide {
            float: left;
            margin: 0 10px 20px;

            &:last-child {
                padding-top: 30px;
            }
        }
    }
}

.slide {
    min-height: 400px;
    margin-bottom: 20px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.8);

    @include tablet {
        min-height: 360px;
        margin: 20px auto;
        padding: 30px 38px;
        max-width: 500px;
    }
}

.slide--right {
    @include tablet {
        margin: -20px;
        float: right;
    }
}

.slide__title {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 50px;

    + .slide__title {
        margin-top: -20px;
    }
}

.slide-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-position: center center;

    &.start {
        background-image: url(/content/remote_content/affordability/img/bg1.jpg);
    }

    &.house-prices {
        background-image: url(/content/remote_content/affordability/img/bg2.jpg);
    }

    &.milk {
        background-image: url(/content/remote_content/affordability/img/bg3.jpg);
    }

    &.in-your-area {
        background-image: url(/content/remote_content/affordability/img/bg4.jpg);
    }

    &.tenure {
        background-image: url(/content/remote_content/affordability/img/bg5.jpg);
    }

    &.home-standard {
        background-image: url(/content/remote_content/affordability/img/bg6.jpg);
    }

    &.future {
        background-image: url(/content/remote_content/affordability/img/bg7.jpg);
    }

    &.share {
        background-image: url(/content/remote_content/affordability/img/bg8.jpg);
    }

    &.transition-leave {
        opacity: 1;
    }

    &.transition-leave.transition-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in-out;
    }
}

body {
    :before{
        background: url(/content/remote_content/affordability/img/bg1.jpg),
            url(/content/remote_content/affordability/img/bg2.jpg),
            url(/content/remote_content/affordability/img/bg3.jpg),
            url(/content/remote_content/affordability/img/bg4.jpg),
            url(/content/remote_content/affordability/img/bg5.jpg),
            url(/content/remote_content/affordability/img/bg6.jpg),
            url(/content/remote_content/affordability/img/bg7.jpg),
            url(/content/remote_content/affordability/img/bg8.jpg);
    }
}
